<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div style="text-align: center ; color: #ff3c00"><h1> Danh sách sản phẩm </h1></div>
<div class="container" >
  <div class="row">
    <div class="col-md-4" th:each="product:${products}">
      <div class="thumbnail">
        <a th:href="@{/product/detail/__${product.id}__}" >
          <img th:src="@{__${product.img}__}" alt="Ko co" style="width:100%">
          <div class="caption">
            <p th:text="${product.id}"></p>
            <p th:text="${product.prices}"></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
