<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js">
</head>
<body>
<form action="#" th:action="@{/product/result}"
      method="POST" novalidate="novalidate">
    <table border="1" class="table">
        <td>
            <label>Input Name : <input type="text" placeholder="Name" name="nameProduct"></label>
        </td>
    </table>
    <input type="submit" value="Find">
</form>
</body>
</html>