<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
  <style>
    a{
      text-decoration: none;
    }
  </style>
</head>
<body>
<h3>Product</h3>
<p>
  <a th:href="@{/product/create}" >
   <button> Add new product </button>
  </a>
</p>
<p>
  <a th:href="@{/product/find} ">
    <button>  Find product by name</button>
  </a>
</p>

<table id = "customers">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name Product</th>
    <th>Price</th>
    <th>Describe</th>
    <th>Producer</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>View</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="row,rowStat : ${products}">
    <td th:text="${row.getId()}"></td>
    <td th:text="${row.getNameProduct()}"></td>
    <td th:text="${row.getPrice()}"></td>
    <td th:text="${row.getDescribe()}"></td>
    <td th:text="${row.getProducer()}"></td>
    <td><a th:href="@{/product/{id}/edit(id=${row.getId()})}">edit</a></td>
    <td><a th:href="@{/product/{id}/delete(id=${row.getId()})}">delete</a></td>
    <td><a th:href="@{/product/{id}/view(id=${row.getId()})}">view</a></td>
  </tr>
  </tbody>
</table>
<div class="notify">
  <div th:if="${success}">
    <span th:text="${success}"></span>
  </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>